In [4]:
import prettymetrics
import pandas as pd

In [5]:
from prettymetrics.supervised import LazyRegressor
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('../examples/datasets/insurance.csv')

In [7]:
df.head()

   age     sex   bmi  children smoker     region  charges
0   19  female 27.90         0    yes  southwest 16884.92
1   18    male 33.77         1     no  southeast  1725.55
2   28    male 33.00         3     no  southeast  4449.46
3   33    male 22.70         0     no  northwest 21984.47
4   32    male 28.88         0     no  northwest  3866.86

In [9]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [15]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [16]:
dummy = pd.get_dummies(df.region, prefix = 'region')
region = df.region
df = df.drop(['region'], axis = 1)
df = pd.concat([df, dummy], axis = 1)
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.90,0,yes,16884.92,0,0,0,1
1,18,male,33.77,1,no,1725.55,0,0,1,0
2,28,male,33.00,3,no,4449.46,0,0,1,0
3,33,male,22.70,0,no,21984.47,0,1,0,0
4,32,male,28.88,0,no,3866.86,0,1,0,0

In [17]:
from sklearn.preprocessing import LabelEncoder

gender_le = LabelEncoder()
smoker_le = LabelEncoder()

df['sex'] = gender_le.fit_transform(df.sex)
df['smoker'] = smoker_le.fit_transform(df.smoker)

In [18]:
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.90,0,1,16884.92,0,0,0,1
1,18,1,33.77,1,0,1725.55,0,0,1,0
2,28,1,33.00,3,0,4449.46,0,0,1,0
3,33,1,22.70,0,0,21984.47,0,1,0,0
4,32,1,28.88,0,0,3866.86,0,1,0,0

In [19]:
X = df.drop(['charges'], axis = 1)
Y = df['charges']

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15)

In [21]:
X_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
337,62,1,27.55,1,0,0,1,0,0
1137,26,0,22.23,0,0,0,1,0,0
679,49,0,23.18,2,0,0,1,0,0
902,26,1,27.27,3,0,1,0,0,0
599,52,0,37.52,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
573,62,0,36.86,1,0,1,0,0,0
659,57,0,28.79,4,0,1,0,0,0
832,28,0,23.84,2,0,0,1,0,0
597,34,0,33.25,1,0,1,0,0,0
1238,37,1,22.70,3,0,1,0,0,0

In [23]:
reg = LazyRegressor(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = reg.fit(X_train, X_test, Y_train, Y_test)
print(models)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████| 56/56 [00:19<00:00,  2.85it/s]

                               Adjusted R-Squared  R-Squared      RMSE  \
Model
GradientBoostingRegressor                    0.79       0.80   4771.19
HistGradientBoostingRegressor                0.78       0.79   4893.06
LGBMRegressor                                0.77       0.78   4994.81
RandomForestRegressor                        0.77       0.78   5055.99
XGBRegressor                                 0.75       0.76   5204.50
BaggingRegressor                             0.75       0.76   5217.38
AdaBoostRegressor                            0.74       0.75   5329.66
ExtraTreesRegressor                          0.72       0.74   5492.67
KNeighborsRegressor                          0.72       0.74   5503.86
PoissonRegressor                             0.68       0.70   5874.48
DecisionTreeRegressor                        0.64       0.65   6292.12
TheilSenRegressor                            0.63       0.65   6327.90
PLSRegression                                0.63       0.64   6398.72
LassoLarsIC                                  0.62       0.64   6415.66
LassoLars                                    0.62       0.64   6422.77
BayesianRidge                                0.62       0.64   6425.14
SGDRegressor                                 0.62       0.64   6427.15
LassoCV                                      0.62       0.64   6427.77
Ridge                                        0.62       0.64   6428.04
RidgeCV                                      0.62       0.64   6428.04
Lasso                                        0.62       0.64   6429.79
TransformedTargetRegressor                   0.62       0.64   6430.03
LinearRegression                             0.62       0.64   6430.03
LassoLarsCV                                  0.62       0.64   6430.03
LarsCV                                       0.62       0.64   6430.03
Lars                                         0.62       0.64   6430.03
OrthogonalMatchingPursuitCV                  0.62       0.64   6433.62
ARDRegression                                0.62       0.64   6437.53
ElasticNet                                   0.60       0.62   6587.71
CCA                                          0.57       0.59   6867.66
ExtraTreeRegressor                           0.55       0.57   6981.27
PLSCanonical                                 0.55       0.57   7043.86
GammaRegressor                               0.52       0.55   7216.88
TweedieRegressor                             0.52       0.54   7285.99
OrthogonalMatchingPursuit                    0.46       0.49   7668.79
HuberRegressor                               0.46       0.48   7712.56
PassiveAggressiveRegressor                   0.45       0.48   7733.28
RANSACRegressor                              0.36       0.39   8346.45
ElasticNetCV                                 0.08       0.12  10061.49
NuSVR                                       -0.05      -0.01  10746.52
DummyRegressor                              -0.07      -0.02  10824.25
SVR                                         -0.10      -0.05  10970.41
KernelRidge                                 -0.90      -0.81  14417.08
LinearSVR                                   -1.11      -1.02  15200.86
MLPRegressor                                -1.21      -1.11  15552.85
GaussianProcessRegressor                 -2468.12   -2357.01 519975.69

                               Time Taken
Model
GradientBoostingRegressor            0.28
HistGradientBoostingRegressor        6.89
LGBMRegressor                        0.65
RandomForestRegressor                0.60
XGBRegressor                         0.54
BaggingRegressor                     0.10
AdaBoostRegressor                    0.13
ExtraTreesRegressor                  0.59
KNeighborsRegressor                  0.05
PoissonRegressor                     0.06
DecisionTreeRegressor                0.05
TheilSenRegressor                    1.61
PLSRegression                        0.04
LassoLarsIC                          0.05
LassoLars                            0.06
BayesianRidge                        0.05
SGDRegressor                         0.08
LassoCV                              0.19
Ridge                                0.02
RidgeCV                              0.07
Lasso                                0.07
TransformedTargetRegressor           0.03
LinearRegression                     0.04
LassoLarsCV                          0.08
LarsCV                               0.06
Lars                                 0.04
OrthogonalMatchingPursuitCV          0.05
ARDRegression                        0.67
ElasticNet                           0.06
CCA                                  0.03
ExtraTreeRegressor                   0.04
PLSCanonical                         0.03
GammaRegressor                       0.04
TweedieRegressor                     0.04
OrthogonalMatchingPursuit            0.04
HuberRegressor                       0.14
PassiveAggressiveRegressor           0.10
RANSACRegressor                      0.24
ElasticNetCV                         0.21
NuSVR                                0.10
DummyRegressor                       0.03
SVR                                  0.16
KernelRidge                          0.21
LinearSVR                            0.03
MLPRegressor                         4.05
GaussianProcessRegressor             0.58