In [33]:
import prettymetrics
import pandas as pd

In [34]:
from prettymetrics.supervised import LazyClassifier
from sklearn.model_selection import train_test_split

In [35]:
df= pd.read_csv('Vegetable_market.csv')

In [36]:
df.head()

,Vegetable,Season,Month,Temp,Deasaster Happen in last 3month,Vegetable condition,Price per kg
0,potato,winter,jan,15,no,fresh,20
1,tomato,winter,jan,15,no,fresh,50
2,peas,winter,jan,15,no,fresh,70
3,pumkin,winter,jan,15,no,fresh,25
4,cucumber,winter,jan,15,no,fresh,20

In [37]:
df.isnull().sum()

Vegetable                          0
Season                             0
Month                              0
Temp                               0
Deasaster Happen in last 3month    0
Vegetable condition                0
Price per kg                       0
dtype: int64

In [38]:
df = df.rename(columns={'Deasaster Happen in last 3month': 'Disaster'})
df = df.rename(columns={'Vegetable condition': 'Condition'})

In [39]:
df.head()

  Vegetable  Season Month  Temp Disaster Condition  Price per kg
0    potato  winter   jan    15       no     fresh            20
1   tomato   winter   jan    15       no     fresh            50
2      peas  winter   jan    15       no     fresh            70
3    pumkin  winter   jan    15       no     fresh            25
4  cucumber  winter   jan    15       no     fresh            20

In [40]:
df.Temp.unique()

array([15, 32, 33, 35, 37, 30, 38, 28, 27, 18, 40, 29, 41, 31, 43, 21, 26])

In [41]:
df.Disaster.unique()

array(['no', 'yes'], dtype=object)

In [43]:
from sklearn.preprocessing import LabelEncoder

Vegetable_le = LabelEncoder()
Season_le  = LabelEncoder()
Month_le = LabelEncoder()
Temp_le = LabelEncoder()
Disaster_le = LabelEncoder()
Condition_le = LabelEncoder()

df['Vegetable'] = Vegetable_le.fit_transform(df.Vegetable)
df['Season'] = Season_le .fit_transform(df.Season)
df['Month'] = Month_le.fit_transform(df.Month)
df['Temp'] = Temp_le.fit_transform(df.Temp)
df['Disaster'] = Disaster_le.fit_transform(df.Disaster)
df['Condition'] = Condition_le.fit_transform(df.Condition)

In [44]:
df.head()

   Vegetable  Season  Month  Temp  Disaster  Condition  Price per kg
0         13       4      4     0         0          1            20
1         16       4      4     0         0          1            50
2         11       4      4     0         0          1            70
3         14       4      4     0         0          1            25
4          6       4      4     0         0          1            20

In [45]:
X = df.drop(['Vegetable'], axis = 1)
Y = df['Vegetable']

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15)

In [47]:
X_train

     Season  Month  Temp  Disaster  Condition  Price per kg
1         4      4     0         0          1            50
15        4      4     0         0          1            20
38        1      5     7         1          1           250
25        3      1    12         1          0            70
118       3      1     9         0          1            24
..      ...    ...   ...       ...        ...           ...
39        4      4     0         1          1            90
31        4      3     1         0          1            20
50        4      4     0         0          1           120
74        4      4     0         0          2            42
110       4      4     0         0          1           123

[102 rows x 6 columns]

In [48]:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, Y_train, Y_test)

print(models)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████| 43/43 [00:08<00:00,  5.25it/s]

                                Accuracy  Balanced Accuracy ROC AUC  F1 Score  \
Model
RandomForestClassifier              0.74               0.71    None      0.74
ExtraTreeClassifier                 0.74               0.71    None      0.75
ExtraTreesClassifier                0.74               0.71    None      0.74
GradientBoostingClassifier          0.74               0.71    None      0.75
XGBClassifier                       0.58               0.62    None      0.56
GaussianProcessClassifier           0.63               0.62    None      0.64
LabelPropagation                    0.63               0.62    None      0.64
LabelSpreading                      0.63               0.62    None      0.64
BaggingClassifier                   0.58               0.58    None      0.56
MLPClassifier                       0.53               0.51    None      0.52
HistGradientBoostingClassifier      0.53               0.51    None      0.56
LGBMClassifier                      0.42               0.46    None      0.41
LogisticRegressionCV                0.47               0.44    None      0.48
DecisionTreeClassifier              0.42               0.37    None      0.44
GaussianNB                          0.32               0.36    None      0.22
KNeighborsClassifier                0.32               0.36    None      0.25
LinearDiscriminantAnalysis          0.37               0.35    None      0.35
LinearSVC                           0.37               0.35    None      0.36
NearestCentroid                     0.26               0.32    None      0.19
SGDClassifier                       0.32               0.30    None      0.30
LogisticRegression                  0.26               0.27    None      0.25
RidgeClassifierCV                   0.26               0.27    None      0.23
Perceptron                          0.16               0.21    None      0.10
CalibratedClassifierCV              0.21               0.20    None      0.18
RidgeClassifier                     0.21               0.20    None      0.18
SVC                                 0.21               0.20    None      0.16
PassiveAggressiveClassifier         0.16               0.08    None      0.16
DummyClassifier                     0.05               0.07    None      0.01
QuadraticDiscriminantAnalysis       0.11               0.07    None      0.02
BernoulliNB                         0.05               0.02    None      0.05
AdaBoostClassifier                  0.00               0.00    None      0.00

                                Time Taken
Model
RandomForestClassifier                0.20
ExtraTreeClassifier                   0.02
ExtraTreesClassifier                  0.17
GradientBoostingClassifier            1.67
XGBClassifier                         0.32
GaussianProcessClassifier             0.94
LabelPropagation                      0.04
LabelSpreading                        0.06
BaggingClassifier                     0.05
MLPClassifier                         0.24
HistGradientBoostingClassifier        1.85
LGBMClassifier                        0.36
LogisticRegressionCV                  1.35
DecisionTreeClassifier                0.02
GaussianNB                            0.02
KNeighborsClassifier                  0.02
LinearDiscriminantAnalysis            0.04
LinearSVC                             0.06
NearestCentroid                       0.02
SGDClassifier                         0.04
LogisticRegression                    0.04
RidgeClassifierCV                     0.02
Perceptron                            0.03
CalibratedClassifierCV                0.25
RidgeClassifier                       0.02
SVC                                   0.02
PassiveAggressiveClassifier           0.02
DummyClassifier                       0.02
QuadraticDiscriminantAnalysis         0.02
BernoulliNB                           0.01
AdaBoostClassifier                    0.17